<ion-view title="Cerrar sesión" class="profile" hide-back-button="true">

    <div class="profile-header has-header">
        <div class="text-center">
            <p>Cerrar sesión</p>
        </div>
    </div>
    <ion-content class="contact">
        
        <div class="contact-header">
            <img src="img/logo/logo_naranja.png">
        </div>
        <div class="text-center color-666">
            <p class="padding">
                <div >
                    <button class="button button-signin" ng-click="okCloseSession()">
                        Cerrar
                    </button>
                </div>
            </p>
        </div>
       
        
    </ion-content>
</ion-view>
