<ion-view title="Contacto" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ng-click="goHome()">
        </button>
    </ion-nav-buttons>

    <ion-content class="contact">
        <div class="contact-header">
            <img src="img/logo/logo_naranja.png">
        </div>
        <div class="list">
            <a class="item item-icon-left" ng-href="tel:+34{{contact.tlf}}">
                <i class="icon left-icon fa fa-mobile-phone"></i>
                <span class="icon-text">Teléfono: </span>
                    <span ng-if="contact"> {{contact.tlf}}</span>
                    <span ng-if="!contact"> -</span>
            </a>
            <a class="item item-icon-left" href="whatsapp://send?text=hola">
                <i class="icon left-icon fa fa-whatsapp"></i>
                <span class="icon-text">Whatsapp: </span>
                <span ng-if="contact"> {{contact.whatsapp}}</span>
                <span ng-if="!contact"> -</span>
            </a>
            <div class="item item-icon-left">
                <i class="icon left-icon fa fa-clock-o"></i>
                <span class="icon-text">Horario: </span>
                <span class="horario" ng-if="contact">
                    De {{contact.horario_apertura}} a {{contact.horario_cierre}} horas
                </span>
                <span ng-if="!contact"> -</span>
            </div>
        </div>
    </ion-content>
</ion-view>