<div class="delivery-time-container">
    <div class="radio-time" ng-show="lunchRange.min">
        <input type="radio" ng-change="mealTimeChange(data.value)" name="time" ng-model="data.value" value="1"> Comida
    </div>
    <div class="radio-time" ng-show="dinnerRange.min">
        <input type="radio" ng-change="mealTimeChange(data.value)" name="time" ng-model="data.value" value="2"> Cena
    </div>
</div>


<div uib-timepicker class="delivery-timepicker" ng-model="selectedRange.time" hour-step="1" minute-step="15"
     show-meridian="false" min="selectedRange.min" max="selectedRange.max"></div>