<ion-view view-title="Mis descuentos">
    <ion-content>
        <div ng-if="!descuentos || descuentos.length == 0">
            <div class="text-center color-666">
                <p class="padding">
                    No tienes ningún cupon de descuento. A medida que hagas pedidos en Aloha24 te premiamos con puntos
                    de fidelidad (Mahalos) que podrás canjear por cupones descuento.
                </p>
                <i class="fa fa-money font-size-52"></i>
            </div>
        </div>
        <div ng-if="descuentos && descuentos.length > 0">
            <div class="list card" ng-repeat="descuento in ::descuentos">
                <div class="item">
                    <div>
                        {{::descuento.nombre}}
                    </div>
                    <div class="price">
                        {{::descuento.cantidad}}€
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>