<ion-view view-title="Personaliza el plato">
    <ion-content class="dish-details">
        <div class="list">
            <div class="item dish-details-header">
                <div>
                    <h2>{{::producto.nombre}}</h2>
                    <p class="description">{{::producto.descripcion | removeHTMLTags}}</p>
                </div>
                <div class="price">
                    {{::producto.precio | currency: currencySettings.symbol : currencySettings.fractionSize}}
                </div>
                <div class="extras-separator" ng-if="productoInPedido.extras.length"></div>
                <div class="extras-summary" ng-if="productoInPedido.extras.length">
                    <span class="extras-title">Extras: </span>
                    <span ng-repeat="extra in productoInPedido.extras">
                        {{::extra.nombre}} (+{{::extra.precio| currency: currencySettings.symbol : currencySettings.fractionSize}})<span ng-show="$index != productoInPedido.extras.length -1">, </span>
                    </span>
                </div>
                <div class="extra-price" ng-if="productoInPedido.extras.length">+ {{totalExtrasPrice| currency: currencySettings.symbol : currencySettings.fractionSize}}</div>
            </div>
            <div class="item item-divider"></div>
            <div class="item">
                <span class="item-title">Cantidad</span>
                <span class="quantity-controls">
                    <img src="img/circle-more.png" ng-click="decreaseProductQuantity()">
                    <span class="quantity-display">{{productoInPedido.cantidad}}</span>
                    <img src="img/circle-minus.png" ng-click="increaseProductQuantity()">
                </span>
            </div>
            <div class="item item-icon-right" ng-if="::producto.ingredientes.length > 0" ng-click="ingredientesModal.show()">
                <span class="item-title">Quitar ingredientes</span>
                <i class="icon right-icon ion-ios-arrow-right"></i>
                <div class="ingredientes-summary" ng-if="productoInPedido.ingredientes.length">
                    <span class="ingredientes-title">No quiero: </span>
                    <span ng-repeat="ingrediente in productoInPedido.ingredientes">
                        {{::ingrediente.nombre}}<span ng-show="$index != productoInPedido.ingredientes.length -1">, </span>
                    </span>
                </div>
            </div>
            <div class="item item-icon-right" ng-if="::producto.extras.length > 0" ng-click="extrasModal.show()">
                <span class="item-title">Añadir extras</span>
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div ng-if="::producto.combinaciones.length > 0">
                <div class="item item-divider">Escoge tu opción favorita</div>

                <label class="item item-input item-select item-center" ng-repeat="combinacion in ::producto.combinaciones">
                    <div class = "input-label white-space-normal item-title">
                        {{::combinacion.nombre}}
                    </div>
                    <select  ng-model="combinacion.valor" ng-change="combinacionChange(combinacion)"
                             ng-options="valor as valor.valor + ' (+' + (valor.precio | currency: currencySettings.symbol : currencySettings.fractionSize) + ')' for valor in combinacion.valores track by valor.id_valor"
                             class="white-space-normal">
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-calm" ng-if="productoInPedido.cantidad > 0" ng-click="addToCart()">
        <div class="title">
            {{::isCustomizable ? 'Añadir al pedido' : 'Modificar pedido'}}
            ({{productoInPedido.importe * productoInPedido.cantidad | currency: currencySettings.symbol : currencySettings.fractionSize}})
        </div>
    </ion-footer-bar>
</ion-view>