<ion-modal-view class="">
    <ion-header-bar class="bar-stable bar-main">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="extrasModal.hide()"></button>
        <h1 class="title">Añadir extras</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-repeat="extra in ::producto.extras" ng-model="extra.checked" ng-click="toggleExtra(extra)">
                {{::extra.nombre}} (+{{::extra.precio| currency: currencySettings.symbol : currencySettings.fractionSize}})
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>
