<ion-view view-title="Mis favoritos">
    <ion-content>
        <div ng-if="!favoritos || favoritos.length == 0">
            <div class="text-center color-666">
                <p class="padding">
                    No tienes ningún restaurante favorito. Marca como favoritos tus restaurantes preferidos y accede a
                    ellos más rápido!
                </p>
                <i class="fa fa-heart font-size-52"></i>
            </div>
        </div>
        <div ng-if="favoritos && favoritos.length > 0">
            <div class="card card-result" ng-repeat="favorito in favoritos">
                <div class="item item-restaurant">
                    <img class="img-smaller" ng-src="{{favorito.imagen}}" ng-click="goToBusiness(favorito)">
                    <div>
                        <i class="icon discount ion-ios-heart"
                           ng-click="removeFavourite(favorito)"></i>
                        <div ng-click="goToBusiness(favorito)">
                            <h2 class="white-space-normal">{{favorito.nombre}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>