<ion-popover-view class="popover-filtro-tipo-cocina">
    <ion-content>
        <div class="list filtro-tipo-cocina">
            <a class="item" ng-click="resetFilterTipoCocina(tiposCocinaArray)" ng-class="{'selected' : todosTiposSelected}">
                Todos ({{searchResult.tipos_cocina.total}})
            </a>
            <a class="item" ng-repeat="tipoCocina in tiposCocinaArray = (searchResult.tipos_cocina.datos | orderBy:orderTipoCocinaByTotal:true)"
                ng-click="filterTipoCocina(tipoCocina, searchResult.tipos_cocina.datos)" ng-class="{'selected' : tipoCocina.selected}">
                {{tipoCocina.nombre}} ({{tipoCocina.total}})
            </a>
        </div>
    </ion-content>
</ion-popover-view>

