<ion-view view-title="Aloha24">

    <ion-content class="back-rest text-center" ng-style="{'background-image': image}" scroll="false">
    <!--
    <ion-content class="back-rest text-center" scroll="false">
    -->
        <div ng-hide="countries.multipleCountries && !globalDoc.countryIsSelected">
            <geo-addresses-alert></geo-addresses-alert>


            <div class="container-centered">

                <div class="choice-title">
                    ¿Qué te apetece?
                </div>

                <div class="choice-button" ng-class="{'active' : category == 1}"
                    ng-click="find(1)">
                    <img src="img/food.png">
                    <div>Restaurantes</div>
                </div>

                <div class="choice-button" ng-class="{'active' : category == 2}"
                     ng-click="find(2)">
                    <img src="img/truck.png">
                    <div>Negocios locales</div>
                </div>

                <div ng-show="category">
                    <div class="search-food" ng-class="{'larger' : showAutocompleteInputWhenLogged}">
                        <div class="row no-padding">
                        <span class="get-geolocation">
                            <i class="icon ion-pinpoint"></i>
                            <span ng-click="getCurrentLocation()">Usar mi ubicación actual</span>
                        </span>
                        </div>

                        <!-- Si está logeado se muestra el selector de direcciones habituales-->
                        <div ng-if="auth.isLogged" class="logged-addresses">
                            <!--
                            <div>Si repites dirección</div>
                            -->
                            <hr>
                            <label class="item item-input item-select label-select-address">
                                <select  ng-model="selectedAddress.address" ng-change="addressChange(selectedAddress.address)"
                                         ng-options="valor as valor.address for valor in geoAddresses track by valor.id_direccion">
                                    <option value="">Usar dirección habitual</option>
                                </select>
                            </label>
                            <span ng-click="toggleAutocompleteVisibility()">O introducir manualmente </span>
                            <i ng-if="!showAutocompleteInputWhenLogged" class="icon fa fa-angle-down"
                               ng-click="toggleAutocompleteVisibility()"></i>
                            <i ng-if="showAutocompleteInputWhenLogged" class="icon fa fa-angle-up"
                               ng-click="toggleAutocompleteVisibility()"></i>
                        </div>

                        <form ng-hide="auth.isLogged && !showAutocompleteInputWhenLogged" name="search_form" novalidate>
                            <google-places address=wrapper.address required="" country-code="{{ globalDoc.selectedCountry.code }}"
                                           class="form-control" placeholder="Introduce tu dirección de entrega" ng-focus="disableTap()"/>
                        </form>
                    </div>
                    <div class="triangle"></div>
                    <button class="button button-signin" ng-click="searchResult()" ng-disabled="search_form.$invalid">
                        {{findWhat}}
                    </button>
                </div>
            </div>
            <div class="bar bar-subfooter reuse-order-footer" ui-sref="app.my-orders" ng-if="auth.isLogged">
                <div class="title">
                    Reutiliza un pedido anterior
                </div>
            </div>

            <ion-footer-bar class="whatsapp-footer" ng-click="whatsappPopup()">
                <img src="img/whatsapp-symbol.svg" height="28" width="28">
                <div class="title">
                    ¿Prefieres pedir por WhatsApp?
                </div>
            </ion-footer-bar>
        </div>
        <div ng-show="countries.multipleCountries && !globalDoc.countryIsSelected">
            <div class="container-centered">
                <div class="choice-title">
                    Elige tu país
                </div>

                <div>
                    <label class="item item-input item-select label-select-country">
                        <select  ng-model="selectedCountry.country" ng-change="countryChange(selectedCountry.country)"
                                 ng-options="valor as valor.label for valor in countriesOptions track by valor.completeCode">
                            <option value="">Selecciona un país</option>
                        </select>
                    </label>
                </div>
                <button class="button button-signin confirm-country-button" ng-click="confirmCountry()"
                        ng-disabled="!selectedCountry.country">
                    ELEGIR
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
