<form name="forgot_pass_form" novalidate>
    <div>
        <div class="comment">
            Introduce tu correo y te enviaremos una nueva contraseña
            <span class="font-size-10 padding-left" ng-click="closeForgotPassPopup()"> (Cerrar)</span>
        </div>
        <label class="item item-input">
            <input type="email" placeholder="Correo" ng-model="forgotPass.email" required>
        </label>
    </div>

    <div>
        <button type="submit" class="button button-full button-calm" ng-disabled="forgot_pass_form.$invalid" ng-click="recoverPass()">
            Enviar contraseña
        </button>
    </div>
</form>