<ion-modal-view class="">
    <ion-header-bar class="bar-stable bar-main">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="ingredientesModal.hide()"></button>
        <h1 class="title">Quitar ingredientes</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-repeat="ingrediente in producto.ingredientes" ng-model="ingrediente.checked"
                          ng-click="toggleIngrediente(ingrediente)">
                {{ingrediente.nombre}}
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>
