<ion-view>
    <ion-content class="back-login">
        <div class="content-login">
            <h1 class="text-center">Inicio sesión / Registro</h1>
            <i class="fa fa-times login-close" ng-click="goBack()"></i>
        </div>

        <form name="login_form" class="form-login text-center" novalidate>
            <div class="list list-inset">
                <p class="inset-label">Correo</p>
                <label class="item item-input">
                    <i class="fa fa-envelope-o"></i>
                    <input type="text" placeholder="Correo" ng-model="user.username" required>
                </label>
                <p class="inset-label">Contraseña</p>
                <label class="item item-input" show-hide-container>
                    <i class="fa fa-key"></i>
                    <input type="password" placeholder="Contraseña" ng-model="user.password" required show-hide-input>
                </label>
            </div>
            <button type="submit" class="button button-signin" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
                INICIA SESIÓN
            </button>
            <div class="forgot-pass" ng-click="openForgotPassPopup()">
                Olvidé mi contraseña
            </div>
            <div class="divisor">
                <div></div>
                <span>O</span>
            </div>
            <div class="row padding-top social-buttons">
<!--
                <div class="col-50">
                    <span class="cta-text">Inicia con</span>
                    <button class="button-facebook">
                        <i class="icon ion-social-facebook"></i>
                        <span class="register-cta">Facebook</span></button>
                </div>
-->
                <div class="col-50 margin-auto">
                    <span class="cta-text">Registro con</span>
                    <button class="button-email" ui-sref="register({
                                sourceView: sourceView
                            })">
                        <i class="icon ion-email"></i>
                        <span>Email</span></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>