<ion-view view-title="Puntos de fidelidad">
    <ion-content>
        <div ng-if="!pedidos.hay_mahalos">
            <div class="text-center color-666">
                <p class="padding">
                    Vaya, no tienes puntos de fidelidad. Haz un pedido y empezarás a tener puntos que podrás canjear por
                    cupones descuento
                </p>
                <i class="fa fa-thumbs-up font-size-52"></i>
            </div>
        </div>
        <div ng-if="pedidos.hay_mahalos">
            <div class="list card" ng-repeat="pedido in pedidos.info | filter: areMahalos()">
                <div class="item">
                    <div>
                        {{pedido.referencia}}
                    </div>
                    <p>
                        <i class="icon fa fa-calendar"></i> <span> {{pedido.fecha_registro}}</span>
                    </p>
                    <div class="price">
                        {{pedido.total | number:2}}€ {{pedido.total}}
                    </div>
                </div>
                <div class="item item-bottom">
                    <div class="padding">
                        Puntos Mahalos
                        <span class="mahalos-counter">
                            {{pedido.mahalos | number:2}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <span class="font-weight-bold">Total </span><span class="font-size-12">puntos Mahalos</span>
                    <div class="price">
                        <span class="font-weight-bold">{{::totalMahalos}}</span>
                    </div>
                </div>
            </div>
            <p class="padding color-666">
                Puedes <span class="font-weight-bold">canjear</span> tus puntos Mahalos por un cupón de descuento de
                <span class="font-weight-bold">{{::totalMahalos}}€</span>
            </p>
            <div class="text-center">
                <button class="button button-signin" ng-click="setMahalos()">CANJEAR MAHALOS</button>
            </div>
        </div>
    </ion-content>
</ion-view>