<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-main">
            <ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="menu-content text-center">

            <!-- Menú SIN usuario logeado -->
            <div class="container-centered" ng-if="!auth.isLogged || (countries.multipleCountries && !globalDoc.countryIsSelected)">
                <img class="aloha-logo" src="img/logo/logo_naranja.png">
                <div ng-hide="countries.multipleCountries && !globalDoc.countryIsSelected">
                    <button menu-close class="button button-menu-login" ui-sref="login({
                                sourceView: 'menu'
                            })">INICIA SESIÓN</button>
                    <p class="padding-top">
                    <div menu-close class="register-link" ui-sref="register">¿Eres nuevo? ¡Regístrate!</div>
                    </p>
                    <p menu-close class="padding-top" ng-show="countries.multipleCountries && globalDoc.countryIsSelected" ui-sref="app.my-country">
                        <i class="icon left-icon fa fa-globe"></i> Seleccionar de páis
                    </p>
                    
                    <p menu-close class="padding-top" ng-show="globalDoc.countryIsSelected" ui-sref="app.exitApp">
                        <i class="menu-icon icon ion-close"></i> Cerra aplicación
                    </p>
                </div>
            </div>

            <!-- Menú CON usuario logeado -->
            <div class="menu-outer" ng-if="auth.isLogged && (globalDoc.countryIsSelected || !countries.multipleCountries)">
                <div class="row menu-top-options">
                    <div class="col col-top">
                        <ion-list>
                            <ion-item class="heading-item" menu-close ui-sref="app.profile">
                                <div class="row">
                                    <div class="col">
                                        <!-- We need a wrapper with width set for the preload image directive -->
                                        <div class="user-image-outer">
                                            <img class="user-image"
                                                 src="img/logo/aloha-new.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h1 class="greeting normal-white-space">{{globalDoc.user.nombre}}</h1>
                                        <p class="message normal-white-space">{{globalDoc.user.apellidos}}</p>
                                    </div>
                                </div>
                            </ion-item>
                            <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.profile">
                                <i class="menu-icon icon fa fa-user"></i>
                                <h2 class="menu-text">Mi cuenta</h2>
                            </ion-item>
                            <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.my-orders">
                                <i class="menu-icon icon fa fa-shopping-basket"></i>
                                <h2 class="menu-text">Pedidos</h2>
                            </ion-item>
                            <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.contact">
                                <i class="menu-icon icon ion-information-circled"></i>
                                <h2 class="menu-text">Contacto</h2>
                            </ion-item>
                             <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.closeSession">
                                <i class="menu-icon icon ion-log-out"></i>
                                <h2 class="menu-text">Cerra sesión</h2>
                            </ion-item>
                            <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.exitApp">
                                <i class="menu-icon icon ion-close"></i>
                                <h2 class="menu-text">Salir</h2>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <!-- Es necesario meter esta parte del menú fija por la parte de abajo, aunque no se meta nada,
                    para que aparezca el menú completo -->
                <div class="row menu-bottom-options">
                </div>
            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
