<ion-modal-view class="mixing-suggestion">
    <ion-header-bar class="bar-calm">
        <h1 class="title mixing-title">Mixing: pide en distintos sitios</h1>
        <button class="button button-icon button-clear fa fa-times" ng-click="finishMixingSelection(true)"></button>
    </ion-header-bar>
    <ion-content>
        <div class="mixing-desc">
            Puedes hacer <span>mixing</span> con los siguientes establecimientos:
        </div>
        <div class="list">
            <div class="item" ng-repeat="negocio in ::negocios_mixing" ng-click="goToBusiness(negocio)">
                {{::negocio.nombre}}
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-click="finishMixingSelection(false)" class="bar-calm">
        <div class="title mixing-footer-title">
            Vaciar pedido y volver a buscar
        </div>
    </ion-footer-bar>
</ion-modal-view>
