<ion-view view-title="Mis direcciones">
    <ion-content class="my-addresses">
        <geo-addresses-alert></geo-addresses-alert>
        <h2 class="current-address" ng-click="show()">Mis direcciones</h2>
        <div>
            <label class="item item-input item-select label-select-address">
                <select  ng-model="selectedAddress.address" ng-change="addressChange(selectedAddress.address)"
                         ng-options="valor as valor.address for valor in geoAddresses track by valor.id_direccion">
                    <option value="">Selecciona una dirección</option>
                </select>
            </label>
        </div>

        <div class="button-bar bar-stable address-actions-bar">
            <a class="button" ng-click="newAddress()" ng-class="{ 'active' : isNewAddress }">
                <i class="fa fa-plus"></i> Nueva
            </a>
            <a class="button" ng-click="removeAddress()"><i class="fa fa-trash"></i> Eliminar</a>
        </div>

        <form name="address_form" novalidate>
            <div class="list address-form-list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dirección</span>
                    <input places-auto-complete size=80 type="text"
                           ng-model="address.address"
                           component-restrictions="{country:'{{globalDoc.selectedCountry.code || 'es' }}'}"
                           types="['geocode']"
                           on-place-changed="myAddressesPlaceChanged()" ng-focus="disableTap($event)" placeholder="Dirección" required/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Detalle (Piso, letra, escalera, ...)</span>
                    <input type="text" placeholder="Piso, letra, escalera, ..." ng-model="address.info" required>
                </label>
            </div>

            <div ng-show="showMap">
                <div class="map-observation">
                    Comprueba y corrige tu dirección en el mapa
                </div>
                <ng-map id="myaddresses-map" class="address-map"  map-type-control="false" street-view-control="false"
                        gesture-handling="cooperative">
                    <marker centered="true" position="{{ [address.lat, address.lng] }}" draggable="true"
                            on-dragend="myAddressesGetMarkerLocation()"></marker>
                </ng-map>
            </div>

            <button class="button button-signin save-address-button" ng-click="saveAddress()" ng-disabled="address_form.$invalid">
                <span ng-if="isNewAddress">Crear dirección</span>
                <span ng-if="!isNewAddress">Actualizar dirección</span>
            </button>
        </form>

    </ion-content>
</ion-view>