<ion-view view-title="Mi país">
    <ion-content>
        <div class="confirm-country-title">Elige el país donde quieres hacer los pedidos</div>
        <div>
            <label class="item item-input item-select label-select-country">
                <select  ng-model="selectedCountry.country"
                         ng-options="valor as valor.label for valor in countriesOptions track by valor.completeCode">
                    <option value="">Selecciona un país</option>
                </select>
            </label>
        </div>
        <button class="button button-signin confirm-country-button" ng-click="confirmCountry()"
                ng-disabled="!selectedCountry.country">
            ELEGIR
        </button>

    </ion-content>
</ion-view>