<ion-view view-title="Mis pedidos" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-if="isBackView()" ng-click="goBackwards()">
        </button>
        <button class="button button-icon button-clear ion-home" ng-if="!isBackView()" ng-click="goBackwards('home')">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div ng-if="!pedidos || !pedidos.info || pedidos.info.length == 0">
            <div class="text-center color-666">
                <p class="padding">
                    No has realizado ningún pedido aún. Haz un pedido y empezarás a tener puntos que podrás canjear por
                    cupones descuento
                </p>
                <i class="fa fa-shopping-basket font-size-52"></i>
            </div>
        </div>
        <div ng-if="pedidos && pedidos.info && pedidos.info.length > 0">
            <div class="list card" ng-repeat="pedido in ::pedidos.info | orderBy: orderByDate:true">
                <div class="item" ng-click="reuseOrderAndGoToCart(pedido)">
                    <div class="business-card-title">
                        {{::pedido.negocio}}
                    </div>
                    <p>
                        <span am-time-ago="pedido.fecha_registro | amParse:'DD/MM/YYYY HH:mm'""></span>
                    </p>
                    <p>
                        {{::pedido.productos}}
                    </p>
                    <div class="price">
                        {{::pedido.total | currency: currencySettings.symbol : currencySettings.fractionSize}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>