<ion-view view-title="Pago pedido" title>
    <ion-content class="order-cart">
        <div ng-repeat="negocio in pedido.pedido">
            <h1 class="negocio-name" ng-click="showPedido()">{{::negocio.nombre}}</h1>
            <div class="list card" ng-repeat="producto in negocio.productos">
                <div class="item dish-details-header">
                    <div>
                        <h2 class="product-name">
                            {{::producto.cantidad}}&nbsp;
                            <i class="fa fa-times"></i>&nbsp;
                            {{::producto.nombre}}
                            <span class="font-size-12">({{::producto.importe | currency: currencySettings.symbol : currencySettings.fractionSize}})</span>
                        </h2>
                    </div>
                    <div class="price">
                        {{(producto.cantidad * producto.importe) | currency: currencySettings.symbol : currencySettings.fractionSize}}
                    </div>
                    <div class="extras-separator"
                         ng-if="::(producto.ingredientes.length || producto.extras.length || producto.combinaciones.length)">
                    </div>
                    <div class="extras-summary" ng-if="::producto.ingredientes.length">
                        <span class="extras-title">No quiero: </span>
                        <span ng-repeat="ingrediente in ::producto.ingredientes">
                            {{::ingrediente.nombre}}<span ng-show="$index != producto.ingredientes.length -1">, </span>
                        </span>
                    <span>
                    </span>
                    </div>
                    <div class="extras-summary" ng-if="::producto.extras.length">
                        <span class="extras-title">Extras: </span>
                        <span ng-repeat="extra in ::producto.extras">
                            {{::extra.nombre}} (+{{::extra.precio | currency: currencySettings.symbol : currencySettings.fractionSize}})<span ng-show="$index != producto.extras.length -1">, </span>
                        </span>
                    </div>
                    <div class="extras-summary" ng-if="::producto.combinaciones.length">
                        <span class="extras-title">Opciones: </span>
                        <div ng-repeat="combinacion in ::producto.combinaciones">
                            {{::combinacion.nombre}} (+{{::combinacion.precio | currency: currencySettings.symbol : currencySettings.fractionSize}})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list card card-total">
            <div class="item item-total">
                <div class="row">
                    <div class="col-75">
                        Subtotal:
                    </div>
                    <div class="col-25">
                        <span>{{(pedido.total_pedido - totalTransportCost) | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        Transporte:
                    </div>
                    <div class="col-25">
                        <span class="tax">{{totalTransportCost | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
                <div ng-if="cuponApplied">
                    <div class="row">
                        <div class="col-75">
                            Cupón descuento aplicado:
                        </div>
                        <div class="col-25">
                            <span class="tax">- {{cuponDiscount | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-75">
                            {{cuponApplied.toUpperCase()}} <i class="fa fa-trash font-size-14 padding-left" ng-click="removeCupon()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-bottom">
                <div class="row">
                    <div class="col-75">
                        Total:
                    </div>
                    <div class="col-25">
                        <span class="order-total-price">{{pedido.total_pedido - cuponDiscount | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-discount-header">
                Descuentos disponibles
            </div>
            <div class="item item-icon-right" ng-repeat="discount in ::globalDoc.user.descuentos"
                 ng-class="{'cupon-already-used': discount.nombre.toUpperCase() == cuponApplied.toUpperCase()}">
                {{::discount.nombre}} <span class="discount-price">{{::discount.cantidad | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                <i class="icon icon-discount" ng-click="validateCupon(discount.nombre)">
                    <span class="separator">|</span>Usar
                </i>
            </div>
            <div class="item text-center" ng-if="!globalDoc.user.descuentos.length">
                Sin descuentos disponibles
            </div>
        </div>

        <div class="card promo-code">
            <div class="row text-center">
                <img class="icon" src="img/promo-code.png">
                <span>Cupones descuento</span></div>
            <div class="list list-inset">
                <div class="item item-input">
                    <input ng-model="cuponToValidate" type="text" placeholder="Valida tu cupón" ng-disabled="paypalApproved || cuponValid || cuponDiscount > 0">
                    <i class="ion-checkmark ok" ng-if="cuponValid"></i>
                    <i class="ion-refresh refresh" ng-if="!cuponValid" ng-click="validateCupon(cuponToValidate)"></i>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-discount-header">
                Forma de pago
            </div>
            <ion-radio ng-disabled="paypalApproved" ng-model="paymentChoice.value" ng-value="3" ng-change="paymentChange(paymentChoice.value)">
                POS Movil (pago presencial)
            </ion-radio>
            <ion-radio ng-model="paymentChoice.value" ng-value="1" ng-change="paymentChange(paymentChoice.value)">
                <i class="fa fa-paypal"></i> PayPal
                <!--<span class="font-size-14">(o tarjeta <i class="fa fa-credit-card"></i>)--></span>
                <span class="paypal-paid" ng-if="paypalApproved">PAGADO</span>
            </ion-radio>
        </div>

        <div class="list card">
            <div class="item item-divider item-discount-header">
                <i class="fa fa-comment-o"></i> Comentarios (opcional)
            </div>
            <textarea ng-model="comments" placeholder="Añade tus comentarios" ng-change="commentsChange(comments)"></textarea>
        </div>

        <div class="text-center button-bottom-order" ng-click="submitOrder()">
            <button class="button confirm-order">
                Finalizar Pedido
                <i ng-if="paypalApproved" class="icon ion-arrow-left-a submit-order-arrow"></i>
            </button>
        </div>
        <div ng-if="paypalApproved" class="padding-bottom text-center font-size-14">
            ¡Ya has pagado! Ahora finaliza tu pedido
        </div>
    </ion-content>
</ion-view>
