<ion-view view-title="Entrega de pedido" title>
    <ion-content class="my-addresses">
        <geo-addresses-alert></geo-addresses-alert>
        <div ng-if="isClosedRestaurant">
            <div class="current-address">
                <i class="fa fa-clock-o"></i>
                Horario de entrega
                <p class="font-size-12 padding-top">El pedido realizado incluye restaurantes que están cerrados en estos momentos</p>
                <ul ng-repeat="negocio in ::pedido.pedido">
                    <span class="font-weight-bold padding-right">{{::negocio.nombre}}</span>
                    <span class="font-size-12" ng-if="::(negocio.abierto == '1')">Abierto</span>
                    <span class="font-size-12" ng-if="::(negocio.abierto == '0')">Cerrado</span>
                </ul>
                <p class="font-size-12 padding-top">¿Cuándo quieres que se te entregue el pedido?</p>
                <div class="list card delivery-choice">
                    <ion-radio ng-model="deliveryChoice.value" ng-value="1">
                        Lo antes posible <span class="padding-left">({{nextAvailableDate | date: "dd MMM 'a las' HH:mm"}})</span>
                    </ion-radio>
                    <ion-radio ng-model="deliveryChoice.value" ng-value="2">
                        Un día y una hora concreta
                    </ion-radio>
                </div>
                <div ng-if="deliveryChoice.value == 2">
                    <div class="delivery-selector" ng-click="openDatePicker()">
                        <span class="title"><i class="fa fa-calendar"></i> Fecha: </span>
                        <span ng-hide="selectedDate"> Selecciona una fecha</span>
                        <span ng-show="selectedDate"> {{selectedDate | date: "dd MMMM yyyy" }}</span>
                    </div>
                    <div class="delivery-selector" ng-if="selectedDate" ng-click="showPopup()">
                        <span class="title"><i class="fa fa-clock-o"></i> Hora: </span>
                        <span ng-hide="selectedRange.time"> Selecciona una hora</span>
                        <span ng-show="selectedRange.time"> {{selectedRange.time | date: "HH:mm"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="current-address">
            <i class="fa fa-truck"></i>
            Dirección de entrega
        </div>
        <div>
            <label class="item item-input item-select label-select-address">
                <select  ng-model="selectedAddress.address" ng-change="addressChange(selectedAddress.address, '{{selectedAddress.address}}')"
                         ng-options="valor as valor.address for valor in geoAddresses track by valor.id_direccion">
                    <option value="">Selecciona una dirección</option>
                </select>
            </label>
        </div>

        <div class="button-bar bar-stable address-actions-bar">
            <a class="button" ng-click="newAddress()" ng-class="{ 'active' : isNewAddress }">
                <i class="fa fa-plus"></i> Nueva
            </a>
        </div>

        <form name="address_form" novalidate ng-show="isNewAddress">
            <div class="list address-form-list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dirección</span>
                    <input places-auto-complete size=80 type="text"
                           ng-model="address.address"
                           component-restrictions="{country:'{{globalDoc.selectedCountry.code || 'es' }}'}"
                           types="['geocode']"
                           on-place-changed="orderAddressesPlaceChanged()" ng-focus="disableTap($event)" placeholder="Dirección" required/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Detalle (Piso, letra, escalera, ...)</span>
                    <input type="text" placeholder="Piso, letra, escalera, ..." ng-model="address.info" required>
                </label>
            </div>

            <div ng-show="showMap">
                <div class="map-observation">
                    Comprueba y corrige tu dirección en el mapa
                </div>
                <ng-map id="orderaddresses-map" class="address-map"  map-type-control="false" street-view-control="false"
                        gesture-handling="cooperative">
                    <marker centered="true" position="{{ [address.lat, address.lng] }}" draggable="true"
                            on-dragend="orderAddressesGetMarkerLocation()"></marker>
                </ng-map>
            </div>

            <button class="button button-signin save-address-button" ng-click="saveAddress()" ng-disabled="address_form.$invalid || address_form.$pristine">
                <span>Crear dirección</span>
            </button>
        </form>

        <div class="text-center" ng-if="selectedAddress.address.address">
            <button class="button button-signin" ng-click="goToCartSummary()">CONTINUAR</button>
        </div>
    </ion-content>
</ion-view>
