<ion-view view-title="Pedido realizado">
    <ion-content class="contact order-success">
        <div class="contact-header">
            <img src="img/logo/logo_naranja.png">
        </div>

        <div class="padding order-success-msg">¡¡ Muchas gracias por haber realizado tu pedido en Aloha24 !!</div>
        <div class="list">
            <div class="item">
                <p class="padding-bottom">
                    Si tu pedido supera un tiempo de entrega de 60 minutos te invitamos a ponerte en contacto con nuestro
                    teléfono de ateción al cliente {{globalDoc.contacto.tlf || 'eeee672 30 91 64'}}.
                </p>
                <p>
                    Recuerda que los tiempos de entrega no solamente dependen de la disponibilidad de repartidores sino de
                    la afluencia que tienen los locales en este momento además de otros factores.
                </p>
            </div>
        </div>

        <div class="text-center button-bottom-order">
            <button class="button button-signin" ng-click="newSearch()">NUEVA BÚSQUEDA</button>
        </div>
    </ion-content>
</ion-view>