<ion-view view-title="Resumen del pedido">
    <ion-content class="order-cart">
        <div ng-repeat="negocio in pedido.pedido">
            <h1 class="negocio-name" ng-if="negocio.productos.length > 0" ng-click="showPedido()">
                {{::negocio.nombre}}
            </h1>
            <div class="list card" ng-repeat="producto in negocio.productos">
                <div class="item dish-details-header">
                    <div>
                        <h2 class="product-name">
                            {{::producto.nombre}}
                            <span class="font-size-12">({{::producto.importe | currency: currencySettings.symbol : currencySettings.fractionSize}})</span>
                        </h2>
                    </div>
                    <div class="price">
                        {{(producto.cantidad * producto.importe) | currency: currencySettings.symbol : currencySettings.fractionSize}}
                    </div>
                    <div class="extras-separator"
                         ng-if="::(producto.ingredientes.length || producto.extras.length || producto.combinaciones.length)">
                    </div>
                    <div class="extras-summary" ng-if="::producto.ingredientes.length">
                        <span class="extras-title">No quiero: </span>
                        <span ng-repeat="ingrediente in ::producto.ingredientes">
                            {{::ingrediente.nombre}}<span ng-show="$index != producto.ingredientes.length -1">, </span>
                        </span>
                    <span>
                    </span>
                    </div>
                    <div class="extras-summary" ng-if="::producto.extras.length">
                        <span class="extras-title">Extras: </span>
                        <span ng-repeat="extra in ::producto.extras">
                            {{::extra.nombre}} (+{{::extra.precio | currency: currencySettings.symbol : currencySettings.fractionSize}})<span ng-show="$index != producto.extras.length -1">, </span>
                        </span>
                    </div>
                    <div class="extras-summary" ng-if="::producto.combinaciones.length">
                        <span class="extras-title">Opciones: </span>
                        <div ng-repeat="combinacion in ::producto.combinaciones">
                            {{::combinacion.nombre}} (+{{::combinacion.precio | currency: currencySettings.symbol : currencySettings.fractionSize}})
                        </div>
                    </div>
                </div>
                <div class="item item-bottom">
                    <div class="row">
                        <div class="col-50">
                            <div class="row btn-control">
                                <img src="img/circle-more.png" ng-click="decreaseItem($parent.$index, $index)">
                                <span>{{producto.cantidad}}</span>
                                <img src="img/circle-minus.png" ng-click="increaseItem($parent.$index, $index)">
                            </div>
                        </div>
                        <div class="col-50 text-right trash-icon" ng-click="removeItem($parent.$index, $index)">
                            <img src="img/delete.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card card-total">
            <div class="item item-total">
                <div class="row">
                    <div class="col-75">
                        Subtotal:
                    </div>
                    <div class="col-25">
                        <span>{{(pedido.total_pedido - totalTransportCost) | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-75">
                        <!--<span ng-if="isTransportCostVariable">*</span>-->Transporte:
                    </div>
                    <div class="col-25">
                        <span class="tax">{{totalTransportCost | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
            </div>
            <div class="item item-bottom">
                <div class="row">
                    <div class="col-75">
                        Total:
                    </div>
                    <div class="col-25">
                        <span class="order-total-price">{{pedido.total_pedido | currency: currencySettings.symbol : currencySettings.fractionSize}}</span>
                    </div>
                </div>
            </div>
        </div>
<!--
        <p class="transport-variable-disclaimer" ng-if="isTransportCostVariable">
            * Coste de transporte variable, al escoger la dirección de entrega se calcula el coste final aplicado
        </p>
-->
        <div class="text-center button-bottom-order">
            <button class="button button-signin" ng-click="goToAddressSelection()"
                    ng-disabled="!checkMinimumOrderPrice()" ng-class="{'minimum-not-reached' : !checkMinimumOrderPrice()}">
                <span ng-if="checkMinimumOrderPrice()">REALIZAR PEDIDO</span>
                <span ng-if="!checkMinimumOrderPrice()">PEDIDO MÍNIMO NO ALCANZADO</span>
            </button>
        </div>
    </ion-content>
</ion-view>
