<ion-modal-view class="personal-info">
    <form name="personalInfoForm" novalidate>
        <ion-header-bar class="bar-stable bar-main">
            <button type="button" class="button button-clear button-primary" ng-click="personalInfoModal.hide()">Cancelar</button>
            <h1 class="title">Detalles personales</h1>
            <button type="submit" class="button button-clear button-primary" ng-click="updatePersonalInfo()"
                    ng-disabled="personalInfoForm.$invalid">
                Guardar
            </button>
        </ion-header-bar>

        <ion-content class="personal-info-content">
            <div class="list">
                <div class="item item-divider"></div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Nombre" ng-model="user.nombre" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Apellidos</span>
                    <input type="text" placeholder="Apellidos" ng-model="user.apellidos" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Correo</span>
                    <input type="email" placeholder="Correo" ng-model="user.username" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Contraseña" ng-model="user.password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Teléfono móvil</span>
                    <input type="text" placeholder="Teléfono móvil" ng-model="user.movil" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Teléfono fijo</span>
                    <input type="text" placeholder="Teléfono fijo" ng-model="user.telefono" required>
                </label>
                <div class="item item-divider"></div>
                <div class="item item-toggle">
                    Suscrito a las noticias de Aloha24
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="user.newsletterBool">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    Deseo recibir ofertas de Aloha24
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="user.ofertasBool">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </ion-content>
    </form>
</ion-modal-view>
