<ion-view title="Mi cuenta" class="profile" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ng-click="goHome()">
        </button>
    </ion-nav-buttons>

    <div class="profile-header has-header">
        <div class="text-center">
            <p class="username">{{globalDoc.user.nombre}}</p>
            <p class="lastname">{{globalDoc.user.apellidos}}</p>
        </div>
    </div>
    <ion-content overflow-scroll="false">
        <div class="list">
            <div class="item item-divider">
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showPersonalInfo()">
                <i class="icon left-icon fa fa-user"></i>
                Detalles personales
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.my-addresses">
                <i class="icon left-icon fa fa-map-marker"></i>
                Direcciones de entrega
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <!--<div ng-if="countries.multipleCountries" class="item item-icon-left item-icon-right" ui-sref="app.my-country">
                <i class="icon left-icon fa fa-globe"></i>
                Cambio de país
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>-->
            <div class="item item-divider">
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.my-orders">
                <i class="icon left-icon fa fa-shopping-basket"></i>
                Mis pedidos
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.favourites">
                <i class="icon left-icon fa fa-heart"></i>
                Mis favoritos
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-divider">
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.discounts">
                <i class="icon left-icon fa fa-money"></i>
                Descuentos
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.mahalos">
                <i class="icon left-icon fa fa-thumbs-up"></i>
                Puntos de fidelidad
                <i class="icon right-icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-divider">
            </div>
            <!--
            <div class="item item-icon-left" ng-click="logout()">
                <i class="icon left-icon fa fa-sign-out"></i>
                Cerrar sesión
            </div>
        -->
        </div>


    </ion-content>
</ion-view>