<ion-view>
    <ion-content class="back-login">
        <i class="button-icon button-clear ion-ios-arrow-left" ui-sref="login({
                                sourceView: sourceView
                            })" ng-if="sourceView"></i>
        <div class="content-login">
            <h1 class="text-center">Registro</h1>
            <i class="fa fa-times login-close" ui-sref="app.find-rest" ng-if="!sourceView"></i>
        </div>
<!--
        <h3 class="register-sub-title">Regístrate con Facebook o con Correo</h3>
-->
        <h3 class="register-sub-title">Regístrate con Correo</h3>
<!--
        <div class="social-sign-up button-bar">
            <a class="button icon ion-social-facebook button-positive" ng-click="facebookSignIn()"> Registro con Facebook</a>
        </div>
-->
        <form name="register_form" class="form-login text-center" novalidate>
            <div class="list list-inset">
                <p class="inset-label">Correo</p>
                <label class="item item-input label-packed">
                    <i class="fa fa-envelope-o"></i>
                    <input type="text" placeholder="Correo" ng-model="user.username" required>
                </label>
                <p class="inset-label">Nombre</p>
                <label class="item item-input label-packed">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Nombre" ng-model="user.nombre" required>
                </label>
                <p class="inset-label">Apellidos</p>
                <label class="item item-input label-packed">
                    <i class="fa fa-tag"></i>
                    <input type="text" placeholder="Apellidos" ng-model="user.apellidos" required>
                </label>
                <p class="inset-label">Nº Teléfono</p>
                <label class="item item-input label-packed">
                    <i class="fa fa-mobile-phone"></i>
                    <input type="text" placeholder="Nº Teléfono" ng-model="user.movil" required>
                </label>
                <p class="inset-label">Contraseña</p>
                <label class="item item-input label-packed" show-hide-container>
                    <i class="fa fa-key"></i>
                    <input type="password" placeholder="Contraseña" ng-model="user.password" required show-hide-input>
                </label>
            </div>
            <button type="submit" class="button button-signin" ng-click="doRegister()" ng-disabled="register_form.$invalid">
                REGISTRO
            </button>
        </form>

    </ion-content>
</ion-view>