<ion-view view-title="{{::negocio.nombre}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="btn-shop-cart" ui-sref="app.restaurant-info({
                                negocio: negocio
                            })">
            <i class="icon ion-information-circled"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="restaurant" ng-class="{'has-footer': pedido.total_pedido}">
        <div class="restaurant-banner" ng-style="{'background-image': 'url({{negocio.banner}})'}">
            <div class="restaurant-details">
                <h2>{{::negocio.nombre}}</h2>
                <h4>{{::negocio.tipo_comida}}</h4>
                <div class="row details">
                    <div class="col">
                        <i class="icon ion-clock"></i>
                        {{::negocio.tmedio}} mins
                    </div>
                    <div class="col">
                        <i class="icon ion-android-cart"></i>
                        Min: {{::negocio.minorder | currency : symbol : 0}}
                    </div>
                </div>
            </div>
        </div>
        <ion-list class="main-accordion">
            <div ng-repeat="group in ::carta">
                <ion-item class="item-stable category-title" ng-click="toggleGroup(group)">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-down' : 'ion-chevron-right'"></i> &nbsp;{{::group.nombre}}
                    <span class="item-quantity">{{::group.productos.length}}</span>
                </ion-item>
                <ion-item class="item-accordion item-dish" ng-class="{'dish-added' : getProductIndexInPedido(producto.id) != -1}"
                          ng-repeat="producto in ::group.productos"
                          ng-show="isGroupShown(group)">
                    <div class="dish-quantity-cart" ng-if="getProductIndexInPedido(producto.id) != -1">
                        {{getProductQuantityInPedido(producto.id)}}x
                    </div>
                    <div class="dish-quantity-minus" ng-if="getProductIndexInPedido(producto.id) != -1" ng-click="removeFromCart(producto)">
                        <span>{{::isCustomizable(producto) ? 'x' : '-'}}</span>
                    </div>
                    <div class="row">
<!--
                        <div class="col-90" ui-sref="app.dish-details({
                                            producto: producto,
                                            negocioIndex: negocioIndex
                                        })">
                            -->
                        <div class="col-90" ng-click="goToDishDetails(producto,negocioIndex)">
                            <h1 class="product-title">{{::producto.nombre}}</h1>
                            <p class="dish-description">{{::producto.descripcion | removeHTMLTags}}</p>
                            <span class="dish-customize-tag"
                                  ng-show="::isCustomizable(producto)">
                                PERSONALIZA EL PLATO <i class="fa fa-pencil"></i>
                            </span>
                        </div>
                        <div class="dish-actions col-10">
                            <div class="add-to-cart" ng-click="addToCart(producto, group, negocioIndex)">
                                +<i class="fa fa-pencil" ng-show="::isCustomizable(producto)"></i>
                            </div>
                            <div class="padding-top">
                                <div class="dish-from" ng-show="::producto.extras.length">Desde</div>
                                <!--
                                <div class="dish-price">{{::producto.precio | number: 2}}€</div>
                                -->
                                <div class="dish-price">
                                    {{::producto.precio | currency: currencySettings.symbol : currencySettings.fractionSize}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-calm" ng-if="pedido.total_pedido && pedidoRestaurante.productos.length > 0"
                    ng-click="goToCart(pedido.total_pedido, negocio.minorder)"
                    ng-class="{'footer-disabled': (pedidoRestaurante.total_restaurante - pedidoRestaurante.transporteFloat) < negocio.minorder}">
        <div class="title">
            <span ng-if="(pedidoRestaurante.total_restaurante - pedidoRestaurante.transporteFloat) >= negocio.minorder">Realizar pedido</span>
            <span ng-if="(pedidoRestaurante.total_restaurante - pedidoRestaurante.transporteFloat) < negocio.minorder">Pedido mínimo no alcanzado</span>
            ({{(pedidoRestaurante.total_restaurante - pedidoRestaurante.transporteFloat) | currency: currencySettings.symbol : currencySettings.fractionSize}})</div>
    </ion-footer-bar>
</ion-view>

