<ion-view view-title="{{::negocio.nombre}}">
    <ion-content class="restaurant-info">
        <a class="item item-restaurant">
            <img ng-src="{{::negocio.logo}}">
            <div>
                <h2 class="white-space-normal">{{::negocio.nombre}}</h2>
                <p>{{::negocio.tipo_comida}}</p>
                <i class="icon ion-ios-location-outline"></i>
                <span class="location">{{::negocio.direccion}}</span>
            </div>

        </a>
        <div class="list">
            <div class="item item-divider">
                Horario de apertura
                <span class="horario-abierto" ng-if="negocio.abierto == '1'">Abierto</span>
                <span class="horario-cerrado" ng-if="negocio.abierto == '0'">Cerrado</span>
            </div>
            <!-- Horarios -->
            <!-- Por como vienen los datos hay que hacerlo así, sin poder hacer un bucle -->
            <!-- Lunes -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(1)}" ng-if="::negocio.lista_horarios.L">
                <div class="day">Lunes</div>
                <div ng-if="::negocio.lista_horarios.L.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.L">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.L.length == 0">Cerrado</p>
            </div>
            <!-- Martes -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(2)}" ng-if="::negocio.lista_horarios.M">
                <div class="day">Martes</div>
                <div ng-if="::negocio.lista_horarios.M.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.M">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.M.length == 0">Cerrado</p>
            </div>
            <!-- Miércoles -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(3)}" ng-if="::negocio.lista_horarios.X">
                <div class="day">Miércoles</div>
                <div ng-if="::negocio.lista_horarios.X.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.X">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.X.length == 0">Cerrado</p>
            </div>
            <!-- Jueves -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(4)}" ng-if="::negocio.lista_horarios.J">
                <div class="day">Jueves</div>
                <div ng-if="::negocio.lista_horarios.J.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.J">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.J.length == 0">Cerrado</p>
            </div>
            <!-- Viernes -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(5)}" ng-if="::negocio.lista_horarios.V">
                <div class="day">Viernes</div>
                <div ng-if="::negocio.lista_horarios.V.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.V">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.V.length == 0">Cerrado</p>
            </div>
            <!-- Sábado -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(6)}" ng-if="::negocio.lista_horarios.S">
                <div class="day">Sábado</div>
                <div ng-if="::negocio.lista_horarios.S.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.S">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.S.length == 0">Cerrado</p>
            </div>
            <!-- Domingo -->
            <div class="item item-horario" ng-class="::{ 'today': isToday(7)}" ng-if="::negocio.lista_horarios.D">
                <div class="day">Domingo</div>
                <div ng-if="::negocio.lista_horarios.D.length">
                    <p ng-repeat="horario in ::negocio.lista_horarios.D">
                        De {{::horario.hora_inicio | trimSeconds}} a {{::horario.hora_fin | trimSeconds}}
                    </p>

                </div>
                <p ng-show="negocio.lista_horarios.D.length == 0">Cerrado</p>
            </div>
            <!-- /Horarios -->
            <div>
            <div class="item item-divider" ng-if="::negocio.fotos.length">
                Galería
            </div>
            <ion-slide-box does-continue="true" auto-play="true" ng-if="::negocio.fotos.length">
                <ion-slide ng-repeat="foto in ::negocio.fotos">
                    <div class="background-img" ng-style="{'background-image':'url('+foto[1]+')'}"></div>
                </ion-slide>
            </ion-slide-box>
            <div class="item item-divider" ng-if="::negocio.descripcion">
                Sobre nosotros
            </div>
            <div class="padding" ng-if="::negocio.descripcion">
                {{::negocio.descripcion | removeHTMLTags}}
            </div>
    </ion-content>
</ion-view>