<ion-view view-title="{{::searchResult.ciudad}}">
    <ion-nav-buttons side="right" >
        <div ng-if="!data.show">
            <button class="btn-result" ng-click="showFilterBar()">
                <i class="icon ion-search"></i>
            </button>
            <button class="btn-result" ng-click="popover.show($event)">
                <i class="icon ion-android-restaurant"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content class="back-grey" overflow-scroll="false">
        <div class="restaurant-list">
            <div ion-affix data-affix-within-parent-with-class="restaurant-list">
                <div class="item item-divider open-restaurants">
                    Negocios abiertos
                    <span class="open-restaurants-quantity">{{openRestaurants.length}}</span>
                </div>
                <div class="green-triangle"></div>
            </div>
            <div ng-show="!openRestaurants.length" class="padding">Ningún negocio abierto en este momento</div>

            <div class="card card-result" ng-repeat="restaurant in openRestaurants = (searchResult.negocios | filter:filtersOpen)">
                <div class="item item-restaurant">
                    <img ng-src="{{::restaurant.logo}}" ng-click="goToBusiness(restaurant)">
                    <div>
                        <i class="icon discount" ng-class="restaurant.favorito ? 'ion-ios-heart' : 'ion-ios-heart-outline'"
                           ng-click="toggleFavourite(restaurant)"></i>
                        <div ng-click="goToBusiness(restaurant)" class="padding-left">
                            <h2>{{::restaurant.nombre}}</h2>
                            <p class="food-type">
                                    <span ng-repeat="tipoCocina in ::restaurant.tipos_cocina">
                                        {{::tipoCocina.name}} <span ng-show="$index != restaurant.tipos_cocina.length -1">, </span>
                                    </span>
                                <span ng-hide="restaurant.tipos_cocina.length">-</span>
                            </p>
                            <p><i class="ion-ios-location-outline"></i> {{::restaurant.direccion}}</p>
                            <div class="row details">
                                <div class="col">
                                    <i class="icon ion-clock"></i>
                                    {{::restaurant.tmedio}} mins
                                </div>
                                <div class="col">
                                    <i class="icon ion-android-cart"></i>
                                    Min: {{::restaurant.minorder | currency: currencySettings.symbol : 0}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="restaurant-list">
            <div class="item item-divider closed-restaurants"
                 ion-affix data-affix-within-parent-with-class="restaurant-list">
                Negocios cerrados
                <span class="closed-restaurants-quantity">{{closedRestaurants.length}}</span>
            </div>
            <div class="opacity-6">
                <div ng-show="!closedRestaurants.length" class="padding">Ningún negocio cerrado en este momento</div>
                <div class="card card-result"
                     ng-repeat="restaurant in closedRestaurants = (searchResult.negocios | filter:filtersClosed)">
                    <div class="item item-restaurant">
                        <img ng-src="{{::restaurant.logo}}" ng-click="goToBusiness(restaurant)">
                        <div>
                            <i class="icon discount" ng-class="restaurant.favorito ? 'ion-ios-heart' : 'ion-ios-heart-outline'"
                               ng-click="toggleFavourite(restaurant)"></i>
                            <div ng-click="goToBusiness(restaurant)">
                                <h2>{{::restaurant.nombre}}</h2>
                                <p class="food-type">
                                    <span ng-repeat="tipoCocina in ::restaurant.tipos_cocina">
                                        {{::tipoCocina.name}} <span ng-show="$index != restaurant.tipos_cocina.length -1">, </span>
                                    </span>
                                    <span ng-hide="restaurant.tipos_cocina.length">-</span>
                                </p>
                                <p><i class="ion-ios-location-outline"></i> {{::restaurant.direccion}}</p>
                                <div class="row details">
                                    <div class="col">
                                        <i class="icon ion-clock"></i>
                                        {{::restaurant.tmedio}} mins
                                    </div>
                                    <div class="col">
                                        <i class="icon ion-android-cart"></i>
                                        Min: {{::restaurant.minorder | currency: currencySettings.symbol : 0}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
<!--
    <ion-footer-bar align-title="center" class="bar-calm" ng-if="pedido.total_pedido" ui-sref="app.cart">
        <div class="title">Finalizar pedido ({{pedido.total_pedido | number: 2}}€)</div>
    </ion-footer-bar>
-->
</ion-view>
