<div ng-if="hasOldAddresses()" class="update-addresses-alert">
    <i class="fa fa-exclamation-triangle"></i>
    Tienes direcciones sin geolocalizar
    <div class="update-now" ng-click="openAddressesModal()"> Actualizar ahora</div>
</div>