<ion-modal-view class="update-addresses" ng-controller="UpdateAddressesCtrl">

        <ion-header-bar class="bar-stable bar-main">
            <button type="button" class="button button-clear button-primary" ng-click="clearModalAndExit()">Ahora no</button>
            <h1 class="title">Direcciones</h1>
        </ion-header-bar>

        <ion-content>
            <div>
                <div class="update-address-header">Modificando antigua dirección:</div>
                <div class="old-address">
                    {{oldAddress.direccion}}
                </div>
            </div>
            <form name="updateAddressesForm" novalidate>
            <div>
                <div class="update-address-header">Actualizar dirección a:</div>

                <div class="new-address">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Dirección</span>
                        <input places-auto-complete size=80 type="text"
                               ng-model="envelope.address"
                               component-restrictions="{country:'{{globalDoc.selectedCountry.code || 'es' }}'}"
                               types="['geocode']"
                               on-place-changed="placeChanged()" ng-focus="disableTap($event)" placeholder="Dirección" required/>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Detalle (Piso, letra, escalera, ...)</span>
                        <input type="text" placeholder="Piso, letra, escalera, ..." ng-model="oldAddress.info" required>
                    </label>
                </div>

                <div ng-show="showUpdateAddressMap">
                    <div class="map-observation">
                        Comprueba y corrige tu dirección en el mapa
                    </div>
                    <ng-map id="update-address-map" class="address-map"  map-type-control="false" street-view-control="false"
                            gesture-handling="cooperative">
                        <marker centered="true" position="{{obj.place.geometry.location}}" draggable="true" on-dragend="getMarkerLocation()"></marker>
                    </ng-map>
                </div>

            </div>

            <div class="update-actions">
                <button class="button button-signin" ng-disabled="updateAddressesForm.$invalid || updateAddressesForm.$pristine"
                        ng-click="updateOldAddress()">Actualizar dirección</button>
                <div class="remove-address" ng-click="removeOldAddress()">Eliminar esta dirección</div>
            </div>

            </form>
        </ion-content>

</ion-modal-view>
