<div class="close" ng-click="closeWhatsAppPopup()">
    (Cerrar)
</div>
<div ng-click="copyWhatsApp(globalDoc.contacto.whatsapp)">
    <div class="comment">
        Copia nuestro número y añádelo a tus contactos
    </div>
    <div class="phone-number">
        <i class="icon left-icon fa fa-whatsapp"></i>
        {{ checkWhatsappNumber() }}
    </div>
</div>

<div ng-click="openWhatsApp()">
    <a class="button button-full button-balanced">
        Abrir WhatsApp 
    </a>
</div>
