.contact {
  background-color: $neutral-background-color;

  .contact-header {
    height: $contact-header-height;
    text-align: center;

    img {
      height: $contact-header-height/2;
      margin-top: $contact-header-height/4;
    }
  }

  .list {
    .icon {
      font-size: 24px;
    }

    .icon-text {
      font-size: 14px;
      padding-right: 30px;
    }

    .horario {
      white-space: normal;
    }
  }
}