.back-rest {
  /*background: url(../img/findrest.jpg) no-repeat center center fixed;*/
  background-color: rgba(245, 80, 32, 0.47);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .scroll {
    height: 100%;
  }

  // greyed overlay
  //&:after{
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  height: 100%;
  //  width: 100%;
  //  background-color: rgba(118, 144, 164, 0.4);
  //  z-index: 0;
  //}
}

.container-centered {
  @include centerer;
  width: 100%;
}

.search-food {
  width: 90%;
  background-color: #fff;
  height: 120px;
  //left: 0;
  //right: 0;
  //margin: 150px auto 20px auto;
  border-radius: 5px;
  padding: 0px 20px;
  margin: auto;

  input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    width: 100%;
    height: 44px;
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
  }

  span {
    font-size: 13px;
    color: #536f7a;
  }

  .icon {
    color: #536f7a;
  }

  a.active {
    border-bottom: 1px solid black;
    padding: 6px;
  }

  &.larger {
    height: 165px !important;
    form {
      margin-top: -24px !important;
    }
  }
}

.get-geolocation {
  margin: auto;
  /* padding-top: 10px; */
  top: 10px;
  position: relative;
  background-color: #efefef;
  border: 1px solid #aaa;
  padding: 0px 5px;
  border-radius: 4px;
}

.no-padding {
  padding: 0;
}

.triangle {
  width: 0;
  //position: relative;
  //top: -21px;
  //right: 0;
  //left: 0;
  margin: auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 13px solid #fff;
  margin-bottom: 10px;
}

.bar.bar-stable.bar-main {
  background-color: $aloha-orange-color;
  border-color: $aloha-orange-color;
  text-transform: uppercase;
}

.bar.bar-stable .title {
  color: #fff;
}

.bar-stable .button.button-icon {
  color: #fff;
}

.whatsapp-footer {
  background-color: #41CA50;
  color: #fff;
  img {
    position: relative;
    left: 10px;
    top: 3px;
  }
}

.whatsapp-popup {
  .popup-body {
    padding: 0px;
    .comment {
      color: #444;
      padding: 0px 10px;
    }
    .phone-number {
      padding: 10px 10px 0px;
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 10px;
    color: #444;
  }

  a.button {
    margin-bottom: 0px !important;
    border-radius: 0px 0px 8px 8px !important;
  }
}


.choice-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 0px;
  width: 100%;
  top: -40px;
}

.choice-button {
  background-color: $aloha-orange-color;
  padding: 15px 5px;
  color: #fff;
  width: 105px;
  height: 105px;
  vertical-align: middle;
  margin: 0px 10px 20px;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;

  img {
    height: 30px;
  }

  &.active {
    box-shadow: 0px 0px 4px 3px #fff;
  }
}

.logged-addresses {
  label {
    height: 22px;
    border: none;
  }
  select {
    min-width: 100%;
    background-color: #efefef;
    font-size: 13px;
  }
  hr {
    margin-bottom: 10px;
  }
  i {
    padding-top: 20px;
  }
}

.reuse-order-footer {
  background-color: #f55020;
  color: #fff;
}