// Sobreescribir el color de un theme para que la filter bar sea del mismo color que la header
$calm:                            #f55020 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include Bourbon
@import "www/lib/bourbon/app/assets/stylesheets/_bourbon";
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "scss/variables";
@import "scss/side-menu/side-menu.variables";

@import "scss/mixins.scss";
@import "scss/fonts.scss";
// Include fontawesome fonts
@import "www/lib/font-awesome/scss/font-awesome";

// Include sections
@import "scss/ionic-date-picker";
@import "scss/side-menu/side-menu.styles";
@import "scss/side-menu/menu.scss";
@import "scss/login.scss";
@import "scss/find-rest.scss";
@import "scss/search-result.scss";
@import "scss/restaurant.scss";
@import "scss/profile.scss";
@import "scss/contact.scss";

.button-aloha {
  background-color: $aloha-orange-color;
  color: #fff;
}

h1, h2, p , span, div{
  font-family: 'Lato Regular';
}

h1 {
  color: #212121;
}

.show-hide-input
{
  display: inherit;
  width: 100%;
  .fa {
    line-height: 34px;
  }
}

.toggle-view-anchor
{
  position:absolute;
  top:6px;
  right:0px;
  height: $line-height-computed + $font-size-base;
  line-height: $line-height-computed + $font-size-base;
  padding-right:8px;

  *
  {
    color: darken($auth-bg, 20%) !important;
    display: block;
    font-size: 24px;
    width: 45px;
    text-align: center;
    font-weight: 500;
  }
}

/*Home*/

.item-dish {
  //border-left: 5px solid $aloha-orange-color;
  &.dish-added{
    border-left: 10px solid $aloha-orange-color;
    padding-left: 40px;
  }
  //padding-left: 40px;
  //padding-right: 60px;

  .dish-quantity-cart {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $aloha-orange-color;
    //max-width: 80px;
    //max-height: 80px;
    //width: 100%;
    //height: 100%;
  }

  .dish-quantity-minus {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: red;
    color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    height: 16px;
    line-height: 12px;
    font-size: 18px;
    font-weight: bold;
  }

  .dish-actions {
    //position: absolute;
    //top: 10px;
    //right: 10px;
    line-height: normal;

    .add-to-cart {
      background-color: #ddd;
      color: #666;
      border-radius: 6px;
      height: 35px;
      line-height: 35px;
      max-width: 35px;
      min-width: 35px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    .dish-from {
      color: #aaa;
      font-size: 10px;
      top: 45px;
      right: 9px;
    }

    .dish-price {
      color: #666;
      font-size: 18px;
      position: absolute;
      right: 10px;
    }
  }

  .dish-description {
    //padding-top: 9px;
    //clear: left;
    white-space: normal;
    line-height: normal;
    padding-right: 25px;
    text-align: justify;
  }

  .dish-customize-tag {
    padding: 0px 1px;
    background: #fafafa;
    border-radius: 10%;
    color: #444;
    font-size: 10px;
  }
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  background-color: #f4f4f4;
  color: #000;
  min-height: 80px;
  overflow: inherit;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.main-accordion .item.item-stable {
  background-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  border-color: #ddd;
}

.span-quantity {
  padding: 1px 7px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  float: right;
}

.item-quantity {
  background-color: $aloha-orange-color;
  color: #fff;
  @extend .span-quantity;
}

.item-accordion.item-dish h1 {
  font-size: 16px;
  margin-top: 4px;
}

.item-accordion.item-dish p {
  font-size: 10px;
}
/*
.item-accordion.item-dish span {
  position: relative;
  float: right;
  top: -34px;
  background-color: #7db343;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  height: 29px;
  line-height: initial;
  padding-top: 6px;
  padding: 7px 5px;
}
*/
.btn-shop-cart {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.btn-shop-cart img {
  width: 24px;
  margin-top: 10px;
}

.back-grey {
  background-color: #fafafa;
}


/*order cart*/

.card-cart h1 {
  font-size: 13px;
  font-weight: bold;
}

.card-cart h2 {
  font-size: 10px;
  color: #aaa;
}

.card-cart .col-25 {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}

.trash-icon img {
  width: 18px;
  padding-top: 4px;
}

.btn-control {
  padding: 0px;
  img {
    width: 24px;
    height: 24px;
  }
}

.btn-control span {
  padding: 7px 15px;
  font-weight: bold;
  font-size: 14px;
}

.item-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-total .col-75 {
  font-size: 10px;
}

.card-total .col-25 {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

.card-total .col-25 .tax {
  font-size: 11px;
}

.item-total {
  padding-bottom: 0;
}

.item-total .padding-bottom {
  padding-bottom: 25px;
}


/*order summary*/

.title-summary {
  margin-top: 20px;
}

.title-summary h1 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.title-summary h2 {
  font-size: 11px;
  color: #536f7a;
}

.order-desc .col-75 {
  font-size: 11px;
  color: #536f7a;
}

.order-desc .col-25 {
  font-size: 12px;
  text-align: left;
}

.promo-code {
  padding-top: 10px;
}

.promo-code img {
  width: 22px;
  height: 16px;
  position: relative;
  right: -60px;
  top: 2px;
}

.promo-code span {
  font-size: 13px;
  font-weight: bold;
  color: #212121;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
}

.promo-code .card,
.list-inset {
  margin: 0 20px 10px 20px;
}

.promo-code input {
  font-size: 24px;
  font-weight: bold;
  padding-right: 0;
}

.promo-code i {
  &.ok {
    color: #7ab439;
    margin-right: 10px;
  }

  &.refresh {

    margin-right: 10px;
  }
}

.button-bottom-order {
  padding-bottom: 20px;
}

.confirm-order {
  background-color: #7ab439;
  border: none;
  color: #fff;
  border-radius: 25px;
  width: 200px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.total-price {
  font-size: 13px;
  font-weight: bold;
  color: #212121;
}

.older-price span {
  color: #536f7a;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 5px;
}

.older-price {
  text-decoration: none;
  font-size: 28px;
  color: #212121;
  text-align: right;
}

.small-text {
  font-size: 10px;
  color: #536f7a;
  margin-bottom: 10px;
  font-weight: normal;
}

.btn-edit {
  background-color: transparent;
  border: none;
}

.btn-edit img {
  width: 22px;
  margin-top: 5px;
}

.inset-label {
  text-align: left;
  color: #555;
  font-size: 14px;
  margin: 0 0 4px;
}

.filter-bar {
  label.item-input-wrapper {
    background-color: $aloha-orange-color !important;
    border-bottom: 1px solid #D83D10 !important;
  }
}

.popover-filtro-tipo-cocina {
  height: 100%;

  .filtro-tipo-cocina {
    a.selected {
      background-color: #efefef !important;
    }
  }
}

.slide-in-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.white-space-normal {
  white-space: normal !important;
}

.font-weight-bold {
  font-weight: bold;
}

.checkbox {
  input:checked:before {
    background: #f55020 !important;
    border-color: #f55020 !important;
  }
  input:checked + .checkbox-icon:before {
    background: #f55020 !important;
    border-color: #f55020 !important;
  }
}

.extras-summary {
  white-space: normal;
  font-size: 12px;
  span.extras-title {
    font-weight: bold;
  }
}

.ingredientes-summary {
  white-space: normal;
  font-size: 12px;
  span.ingredientes-title {
    font-weight: bold;
  }
}

.item-restaurant {
  padding-top: 18px;
  padding-left: 134px;
  min-height: 110px;
  overflow: visible;

  img {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 108px;
    max-height: 90px;
    width: 100%;
    height: 100%;
  }
}

.dish-details-header {
  padding-right: 60px;
  .description {
    white-space: normal;
    font-size: 12px;
  }
}

.price {
  position: absolute;
  right: 11px;
  top: 16px;
}

.business-card-title {
  padding-right: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mahalos-counter {
  position: absolute;
  right: 11px;
}

.extra-price {
  position: absolute;
  right: 11px;
  bottom: 16px;
  font-size: 12px;
}

.extras-separator {
  height: 1px;
  border-bottom: 1px solid #666;
  margin: 10px 0px;
}

.dish-details {
  background-color: #f5f5f5;

  .item-title {
    font-size: 14px;
  }

  .item-divider {
    font-size: 14px;
  }

  .right-icon {
    font-size: 20px;
  }

  .quantity-controls {
    right: 10px;
    position: absolute;
    top: 10px;

    img {
      width: 32px;
    }
    .quantity-display {
      vertical-align: super;
      padding: 0 10px;
    }
  }

  select {
    font-size: 12px;
  }
}

.order-cart {
  .negocio-name {
    font-size: 16px;
    margin: 10px;
    text-align: center;
  }
  .product-name {
    font-size: 14px;
    white-space: normal;
  }

  .order-total-price {
    font-size: 18px;
  }

  .item-discount-header {
    background-color: #fff !important;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #212121;
  }

  .discount-price {
    padding-left: 10px;
    font-size: 12px;
  }

  .icon-discount {
    font-size: 18px;
    span.separator {
      margin-right: 11px;
    }
  }

  textarea {
    width: 100%;
    padding: 10px;
  }

  .cupon-already-used {
    text-decoration: line-through;
  }

  .paypal-paid {
    position: absolute;
    right: 50px;
    border: 1px solid green;
    padding: 2px;
    border-radius: 5px;
    color: white;
    background-color: #7ab439;
  }

  .submit-order-arrow {
    margin-left: 10px;
  }
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-52 {
  font-size: 52px;
}

.color-666 {
  color: #666;
}

.margin-auto {
  margin: auto !important;
}

.my-addresses {
  .address-actions-bar {
    width: 65%;
    margin: 18px auto 28px;
    
    .button {
      min-height: 30px;
      line-height: 30px;
      font-size: 14px;

      &.active {
        background-color: #e5e5e5;
      }
    }
  }

  .current-address {
    width: 90%;
    margin: 10px auto;
    font-size: 14px;
  }

  .delivery-choice {
    padding: 0;
    margin: 0 0 10px;
    label {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .delivery-selector {
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    min-height: 21px;
    color: #444;
    .title {
      position: absolute;
      left: 0px;
    }
  }

  .label-select-address {
    width: 90%;
    margin: auto;
    overflow: visible;
    select {
      position: relative;
      max-width: 100%;
      width: 100%;
    }
  }

  .address-form-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .item-stacked-label {
      border-left: none;
      border-right: none;
    }

    .item-select {
      border-left: none;
      border-right: none;
    }
  }

  #google_places_ac {
    width: 90%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #efefef;
    border-radius: 4px;
  }

  .save-address-button {
    margin: 0 auto;
    display: block;
  }
}

.order-success {
  .order-success-msg {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  .list {
    .item {
      p {
        white-space: normal;
        font-size: 14px;
        color: #000;
        text-align: justify;
      }
    }
  }

  .button-bottom-order {
    padding-bottom: 20px;
  }
}

.footer-disabled {
  opacity: 0.5;
}

.login-close {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 22px !important;
}

.mixing-suggestion {
  width: 90%;
  height: 60%;
  min-height: 0;
  max-height: 350px;
  top: 20%;
  left: 5%;
  right: 5%;
  bottom: 20%;
}

.mixing-title {
  font-size: 14px !important;
}

.mixing-footer-title {
  font-size: 16px !important;
}

.mixing-desc {
  padding: 10px;
  span {
    font-weight: bold;
  }
}

.delivery-time-container {
  padding-bottom: 10px;
  text-align: center;
  div:first-of-type {
    margin-right: 10px;
  }
  .radio-time {
    display: inline;
  }
  input {
    width: 12px;
  }
}

.delivery-timepicker {
  width: 70%;
  margin: auto;
}

@media (min-width: 0px) {
  .modal-backdrop-bg {
    opacity: 0.5 !important;
    background-color: #000;
  }
}

.popup {
  border-radius: 8px !important;
}

.transport-variable-disclaimer {
  margin: -10px 10px 10px;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.update-addresses, .my-addresses {
  ion-header-bar {
    button {
      color: #fff !important;
    }
  }

  .update-address-header {
    margin-left: 6px;
    margin-top: 6px;
  }

  .old-address {
    background-color: rgba(239, 239, 239, 0.8);
    margin-left: 6px;
  }
  .new-address {
    border: 1px solid #666;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 6px;

    label {
      border: none;
      padding: 0px 0px 0px 16px;
    }
  }
  
  .map-observation {
    background-color: #b2b2b2;
    color: #fff;
    text-align: center;
  }

  .update-actions {
    margin-top: 10px;
    text-align: center;

    .remove-address {
      font-size: 12px;
      padding-top: 6px;
    }
  }

  .no-postal-code-address-warning {
    vertical-align: bottom;
    font-size: 14px;
    color: #fff;
    background-color: red;
    padding: 0 5px;
    border-radius: 2px;
  }
}

.address-map {
  height: 200px;
  margin-bottom: 10px;
}

.update-addresses-alert {
  color: #fff;
  text-align: center;
  background-color: rgba(248,79,6,0.44);

  .update-now {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }
}

.label-select-country {
  width: 90%;
  margin: auto;
  overflow: visible;
  select {
    position: relative;
    max-width: 100%;
    width: 100%;
  }
}

.confirm-country-button {
  margin: 15px auto;
  display: block;
}

.confirm-country-title {
  width: 90%;
  margin: 10px auto;
  font-size: 16px;
}