// Override del ionic_datepicker con colores Aloha

.ionic_datepicker_popup .popup-buttons button {
  background-color: $aloha-orange-color !important;
  &.button_set {
    font-weight: bold;
  }
}

.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: $aloha-orange-color !important;
}

.ionic_datepicker_popup .selected_date {
  background-color: $aloha-orange-color !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
  border-bottom: 1px solid $aloha-orange-color !important;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
  color: $aloha-orange-color !important;
}

.ionic_datepicker_popup .today {
  border: 1px solid $aloha-orange-color !important;
}