
.back-login {
  background: url(../img/back-login.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  .ion-ios-arrow-left {
    color: #000;
    position: relative;
    top: 20px;
    font-size: 20px;
    vertical-align: middle;
  }

  .fa {
    color: #888;
    font-size: 14px;
  }
}

.social-sign-up
{
  width: 90%;
  margin: auto;
  padding: 10px 0px;

  &.button-bar > .button:before
  {
    font-size: 24px;
    position: absolute;
    left: 20px;
    margin-top: 0px;
  }

  &.button-bar > .button:first-child
  {
    border-radius: 6px 6px 6px 6px;
    min-height: 42px;
  }

  &.button-bar > .button:last-child
  {
    border-radius: 6px 6px 6px 6px;
  }

  .ion-social-facebook
  {
    background: $facebook-blue;
  }
}

.content-login {
  display: inline;
  padding: 20px;

  h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }
}

.list.list-inset {
  background-color: transparent !important;

  .item.item-input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    margin: 0 0 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    &.label-packed {
      margin: 0 0 12px;
    }

    input {
      font-size: 12px;
      text-align: center;
    }
  }
}

.button-signin {
  @extend .button-aloha;
  border-radius: 24px;
  width: 180px;
  font-size: 12px;
  min-height: inherit;
  font-weight: bold;

  &.minimum-not-reached {
    line-height: 16px !important;
    padding: 10px;
  }
}



.form-login {
  padding: 0 10px;

  img {
    width: 22px;
  }

  .button-signin {
    margin-top: 15px;
  }
}

.divisor {
  margin-top: 30px;

  span {
    border: 1px solid #CFD8DC;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #fff;
  }

  div {
    border-top: 1px solid #CFD8DC;
    z-index: -1;
    position: relative;
    top: 9px;
  }
}

.social-buttons {
  margin-top: 20px;

  .cta-text {
    font-size: 12px;
    color: #333;
  }

  button {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    width: 90%;
    border: none;
    height: 37px;
    border-radius: 2px;

    i {
      font-size: 22px;
      position: relative;
      left: -22px;
    }

    span {
      position: relative;
      vertical-align: super;
    }
  }
}

.button-facebook {
  background-color: $facebook-blue;
}

.button-email {
  background-color: #aaa;
}

.padding-top {
  padding-top: 10px;
}

.register-content {
  .scroll {
    height: 100%;
  }
}

.register-sub-title {
  margin-top: -50px;
  font-size: 12px;
  text-align: center;
  color: #444;
}

.forgot-pass {
  color: #333;
  padding-top: 15px;
}

.forgot-pass-popup {
  label {
    margin: 0px !important;
  }
/*
  .popup-head {
    padding: 25px 10px 15px !important;
  }
*/
  .popup-head {
    position: relative !important;
  }

  .popup-body {
    padding: 0px;
    .comment {
      color: #444;
      padding: 10px 15px;
    }
  }
  .close {
    /*
    position: absolute;
    //top: 4px;
    right: 10px;
    font-size: 10px;
    color: #444;
    */
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 10px;
    color: #444;
  }

  button {
    margin-bottom: 0px !important;
    border-radius: 0px 0px 8px 8px !important;
  }
}