.profile {
  .profile-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245, 80, 32, 0.84);
    height: $profile-header-height;
    color: #fff;

    p {
      padding: 0;
      margin: 0;
    }

    .username {
      color: $menu-color;
      font-size: 18px;
    }

    .lastname {
      color: rgba($menu-color, 0.6);
      font-size: 16px;
    }
  }

  .list {
    padding-top: $profile-header-height !important;

    .left-icon {
      font-size: 18px;
    }

    .right-icon {
      font-size: 20px;
    }
  }
}

.personal-info {
  ion-header-bar {
    button {
      color: #fff !important;
    }
  }

  .personal-info-content {
    background-color: $neutral-background-color;

    .list {
      background-color: #fff !important;
    }
  }
}