.restaurant {
  .restaurant-banner {
    //background-image: url(../img/casera.jpg);
    background-color: rgba(245,80,32,.47);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 160px;
    color: #fff;
  }

  .restaurant-details {
    text-align: center;
    position: relative;
    top: 105px;
    h2 {
      /*
      color: #fff;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      */

      position: absolute;
      bottom: 60px;
      white-space: normal;
      margin: auto;
      margin-bottom: 0px;
      padding: 0 5px;
      width: 100%;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h4 {
      color: #fff;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .category-title {
    white-space: normal;
  }

  .product-title {
    white-space: normal;
  }
}


.restaurant-info {
  .location {
    font-size: 10px;
    color: #777;
  }

  .background-img {
    background-size: cover;
    background-position: center;
    height: 300px;
  }

  .slider-pager {
    .slider-pager-page {
      color: #fff !important;
    }
  }

  .list {
    .horario-abierto {
      font-size: 12px;
      margin-left: 20px;
      background-color: $open-restaurants-banner;
      color: #fff;
      padding: 2px;
      border-radius: 4px;
    }

    .horario-cerrado{
      font-size: 12px;
      margin-left: 20px;
      background-color: $closed-restaurants-banner;
      color: #fff;
      padding: 2px;
      border-radius: 4px;
    }

    .item-horario {
      padding-left: 100px;
      padding-top: 5px;
      padding-bottom: 5px;

      .day {
        position: absolute;
        left: 11px;
        font-size: 12px !important;
      }

      &.today {
        background-color: rgba($aloha-orange-color, 0.1);
      }
    }
  }
}