.open-restaurants {
  background-color: $open-restaurants-banner;
  color: #fff;
  border-width: 0px;
}

.closed-restaurants {
  background-color: $closed-restaurants-banner;
  color: #fff;
}

.open-restaurants-quantity {
  background-color: #fff;
  color: $open-restaurants-banner;
  @extend .span-quantity;
}

.closed-restaurants-quantity {
  background-color: #fff;
  color: $closed-restaurants-banner;
  @extend .span-quantity;
}

.green-triangle {
  width: 0;
  //position: relative;
  //top: -21px;
  //right: 0;
  //left: 0;
  margin: auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 13px solid $open-restaurants-banner;
  margin-bottom: 10px;
}

.opacity-6 {
  opacity: 0.6;
}

.title-query {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 10px;
}

.card-result {
  overflow: inherit;

  img {
    border-radius: 2px;
    margin-top: 5px;
    width: 108px;
    height: 90px;
    &.img-smaller {
      max-width: 74px !important;
      max-height: 62px !important;
      margin-top: 0px !important;
    }
  }

  h2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .row.details {
    font-size: 14px;
    padding: 0px;

    .col {
      padding: 0px;
    }
  }

  p {
    font-size: 10px;
    margin-bottom: 0;
    color: #536f7a;

    &.food-type {
      font-size: 12px;
    }
  }

  .details {
    color: #536f7a;
  }

  .item {
    min-height: 80px;
  }
}

.discount {
  position: relative;
  top: -42px;
  float: right;
  //right: 10px;
  background-color: #efefef;
  color: #aaa;
  padding: 7px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.btn-result {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px !important;
}

.btn-result i {
  margin-left: 10px;
}
