$aloha-orange-color: #f55020;
$auth-bg: #fcfcfc;
$facebook-blue: #3B5998;
$open-restaurants-banner: #62B606;
$closed-restaurants-banner: red;
$profile-header-height: 110px;
$contact-header-height: 200px;
$neutral-background-color: #f5f5f5;