.menu-content {
  .scroll {
    height: 100%;
  }

  .register-link {
    color: $aloha-orange-color;
  }
}

.button-menu-login {
  @extend .button-aloha;
  width: 70%;
  font-weight: bold;
  font-size: 14px;
  min-height: 34px;
  line-height: 32px;
}

.aloha-logo {
  //background: url(../img/logo/logo_naranja.png) no-repeat;
  //background-size: cover;
  width: 100%;
  padding: 0 60px 20px 60px;
}